<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <!--for add-->
        <form method="post" action="/contact">
            <h1>Contact Now</h1>
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Name"/>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email"/>
            <button type="submit">Send Meassage</button>

        </form>
    </main>
    <script src="script.js"></script>
</body>
   
</html>